# Data Exploration

## Import Packages

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys

import sys

# Get absolute path to project root
project_root = os.path.abspath("..")  # notebook is in notebooks/, project root is one level up
src_path = os.path.join(project_root, "src")

# Add src to Python path
if src_path not in sys.path:
    sys.path.append(src_path)

# Now you can import utils
from data import utils

## Data Loading

In [2]:
# X
cpi = utils.load_raw('CPIAUCSL.csv') # Consumer Price Index - for All Urban Consumers: All Items in U.S. City Average
unrate = utils.load_raw('UNRATE.csv') # Unemployment Rate
infl = utils.load_raw('FPCPITOTLZGUSA.csv') # Inflation
gdp = utils.load_raw('GDPC1.csv') # Gross Domestic Product
disin = utils.load_raw('DSPIC96.csv') # Disposable Income
inprod = utils.load_raw('INDPRO.csv') # Industrial Production
claim = utils.load_raw('CCNSA.csv') # Continued Claims (Insured Unemployment)
leadingid = utils.load_raw('USSLIND.csv') # Leading Index for the United States

# Y
usrec = utils.load_raw('USRECP.csv') # Recession Indicator

## Left Join Data

In [10]:
x = pd.merge(cpi, unrate, on='DATE', how = 'left')
x = pd.merge(x, infl, on='DATE', how = 'left')
x = pd.merge(x, gdp, on='DATE', how = 'left')
x = pd.merge(x, disin, on='DATE', how = 'left')
x = pd.merge(x, inprod, on='DATE', how = 'left')
x = pd.merge(x, claim, on='DATE', how = 'left')
x = pd.merge(x, leadingid, on='DATE', how = 'left')

In [11]:
x

,DATE,CPIAUCSL,UNRATE,FPCPITOTLZGUSA,GDPC1,DSPIC96,INDPRO,CCNSA,USSLIND
0,1947-01-01,21.480,NaN,NaN,2182.681,NaN,13.6554,NaN,NaN
1,1947-02-01,21.620,NaN,NaN,NaN,NaN,13.7361,NaN,NaN
2,1947-03-01,22.000,NaN,NaN,NaN,NaN,13.8167,NaN,NaN
3,1947-04-01,22.000,NaN,NaN,2176.892,NaN,13.7092,NaN,NaN
4,1947-05-01,21.950,NaN,NaN,NaN,NaN,13.7629,NaN,NaN
...,...,...,...,...,...,...,...,...,...
939,2025-04-01,320.321,4.2,NaN,23770.976,18168.6,103.6224,NaN,NaN
940,2025-05-01,320.580,4.2,NaN,NaN,18041.7,103.6570,NaN,NaN
941,2025-06-01,321.500,4.1,NaN,NaN,18036.2,104.2115,NaN,NaN
942,2025-07-01,322.132,4.2,NaN,NaN,18077.3,103.8194,NaN,NaN
943,2025-08-01,323.364,4.3,NaN,NaN,18097.2,103.9203,NaN,NaN